*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
}
#canvas {
  /*   border: 1px solid #ffecce;
 */
  background-color: #f8e68b;
}
